<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
</head>
<body>
    <div class="container">
        <div class="box1">
            <h1>This is Instagram Account of <%= data.name %></h1>
            <p>Followers:<%= data.followers%>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Following:<%=data.following%> </p>
            <hr>
            <% for(let post of data.posts){ %>
                <img src="<%= post.image %>" alt="">
                 <br>
                 <br>
                 <p>Likes:<%= post.likes%>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Comments:<%=post.comments%> </p>
           <% } %>
        </div>
    </div>
    <style>
        .container{
           padding: 100px;
            width: 600px;
            font-weight: 600;
            font-size: larger;
        }
        img{
            height: 300px;
        }
    </style>
</body>
</html>