<%- include("includes/head.ejs") %>
<h1>This is Instagram Account of <%= data.name %></h1>
<hr>
<button>Follow</button> &nbsp;&nbsp;&nbsp;&nbsp; <button>Message</button>
    <div class="container">
        <div class="box1">
            <p>Followers:<%= data.followers%>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Following:<%=data.following%> </p>
            <hr>
            <% for(let post of data.posts){ %>
                <img src="<%= post.image %>" alt="">
                 <br>
                 <br>
                 <p>Likes:<%= post.likes%>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Comments:<%=post.comments%> </p>
           <% } %>
        </div>
    </div>
</body>
<script src="/js.js"></script>
</html>